*.class

# Package Files #
*.jar
*.war
*.ear

.project
.classpath
.settings/
target/

local.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


